<div class="container">
  <a href="/">
    <h1>URL Shortener</h1>
  </a>
  <img src="https://github.com/jadokao/url-shortener/blob/main/blackConnect.png?raw=true"
    alt="connection" class="img-thumbnail" />
  <form action="/url" method="POST">
    <label for="fullURL" style="display: none;">Enter an https:// URL:</label>
    <input type="url" name='fullURL' placeholder="https://example.com" required>
    <button type="submit" class="btn btn-primary">Shorten</button>
  </form>
</div>