<div class="container">
  <a href="/">
    <h1>URL Shortener</h1>
  </a>
  <img src="https://www.pngimages.pics/images/quotes/english/general/black-connect-art-png-transparent-52650-286139.png"
    alt="connection" class="img-thumbnail" />
  <form action="/url" method="POST">
    <label for="fullURL" style="display: none;">Enter an https:// URL:</label>
    <input type="url" name='fullURL' placeholder="https://example.com" required>
    <button type="submit" class="btn btn-primary">Shorten</button>
  </form>
</div>