<div class="container">
  <a href="/">
    <h1>URL Shortener</h1>
  </a>
  <img src="https://www.pngimages.pics/images/quotes/english/general/black-connect-art-png-transparent-52650-286139.png"
    alt="connection" class="img-thumbnail" />
  <div class="output">
    <p>Please use the link:</p>
    <a href="{{shortURL}}" class="shortURL">{{shortURL}}</a>
    <button type="button" class="btn btn-primary" onclick="{{#copy shortURL}}{{/copy}}">Copy</button>
  </div>
</div>