<div class="container">
  <a href="/">
    <h1>URL Shortener</h1>
  </a>
  <img src="https://github.com/jadokao/url-shortener/blob/main/blackConnect.png?raw=true" alt="connection"
    class="img-thumbnail" />
  <div class="output">
    <p>Original link:</p>
    <a class="fullURL mb-3" href={{fullURL}}>{{fullURL}}</a>
    <p>Please use the shortener link:</p>
    <a href="{{shortURL}}" class="shortURL" id="shortURL">{{shortURL}}</a> 
    <button type="button" id="copy" class="btn btn-primary mb-2" onclick="copyLink()">Copy</button>
  </div>
</div>

<script>
  function copyLink() {
    const copyText = document.getElementById("shortURL") 
    const selection = window.getSelection()
    const range = document.createRange()
    range.selectNodeContents(copyText)
    selection.removeAllRanges()
    selection.addRange(range)
    document.execCommand('copy')
  }
</script>